<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 내장 캐시 비활성화 -->
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		
		<!-- PreparedStatement 재사용 -->
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<!-- 별명 -->
	<typeAliases>
		<typeAlias type="vo.MusicVO" alias="music" />
		<typeAlias type="vo.MemberVO" alias="member" />
		<typeAlias type="vo.PlaylistVO" alias="playlist" />
		<typeAlias type="vo.CommentsVO" alias="comments" />
		<typeAlias type="vo.ApplyfriendVO" alias="applyfriend" />
		<typeAlias type="vo.MyfriendVO" alias="myfriend" />
		<typeAlias type="vo.MessageVO" alias="message" />
	</typeAliases>
	
	<mappers>
		<mapper resource="config/mybatis/mapper/join.xml" />
		<mapper resource="config/mybatis/mapper/music.xml" />
		<mapper resource="config/mybatis/mapper/playlist.xml" />
		<mapper resource="config/mybatis/mapper/comments.xml" />
		<mapper resource="config/mybatis/mapper/applyfriend.xml" />
		<mapper resource="config/mybatis/mapper/myfriend.xml" />
		<mapper resource="config/mybatis/mapper/message.xml" />
	</mappers>
</configuration>